{% extends 'bookings/base.html' %}

{% block content %}
<h1>Movies</h1>
<div class="row">
    {% for movie in movies %}
    <div class="col-sm-4"> 
        <div class="card h-100 d-flex flex-column">
            <div class="card-body d-flex flex-column fl">
                <h4 class="card-title">{{ movie.movie_title }}</h4>
                <h6> {{ movie.movie_r_date }} • {{ movie.movie_duration }}m</h6>
                <p class="card-text flex-grow-1">{{ movie.movie_desc }}</p>
                <a href="{% url 'seat_booking' movie.id %}" class="btn btn-primary">Book Seats</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}




